ADMIN_USER=admin
ADMIN_PASSWORD=jonas-and-dragana-2026
COOKIE_SECRET=d_cOovNcJuuQC5q4FjzdCYlQYpG1OuIPV8lJ-W-ONtb7gy4woUSTPeNijZMnAgGG
GUEST_UPLOAD_PASSWORD=wedding2026
PUBLIC_SITE_URL=https://jonas-dragana.example.com
MEDIA_DIR=./media
